#!/usr/bin/env xdg-open
[Desktop Entry]
Version=R2019a
Type=Application
Terminal=false
Name=Matlab
Exec=/usr/local/MATLAB/R2019a/bin/matlab -desktop
Icon=/usr/local/MATLAB/R2019a/bin/glnxa64/cef_resources/matlab_icon.png

